software/HerbService/WebRoot/WEB-INF/wsdl/DataUtilsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main.herbarium.ou.edu/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataUtilsService" targetNamespace="http://main.herbarium.ou.edu/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://main.herbarium.ou.edu/" schemaLocation="DataUtilsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getParent">
    <part element="tns:getParent" name="parameters"/>
  </message>
  <message name="getParentResponse">
    <part element="tns:getParentResponse" name="parameters"/>
  </message>
  <message name="getCollections">
    <part element="tns:getCollections" name="parameters"/>
  </message>
  <message name="getCollectionsResponse">
    <part element="tns:getCollectionsResponse" name="parameters"/>
  </message>
  <message name="getUsers">
    <part element="tns:getUsers" name="parameters"/>
  </message>
  <message name="getUsersResponse">
    <part element="tns:getUsersResponse" name="parameters"/>
  </message>
  <message name="setPort">
    <part element="tns:setPort" name="parameters"/>
  </message>
  <message name="setPortResponse">
    <part element="tns:setPortResponse" name="parameters"/>
  </message>
  <message name="getSettings">
    <part element="tns:getSettings" name="parameters"/>
  </message>
  <message name="getSettingsResponse">
    <part element="tns:getSettingsResponse" name="parameters"/>
  </message>
  <message name="getFolders">
    <part element="tns:getFolders" name="parameters"/>
  </message>
  <message name="getFoldersResponse">
    <part element="tns:getFoldersResponse" name="parameters"/>
  </message>
  <message name="getAuthorities">
    <part element="tns:getAuthorities" name="parameters"/>
  </message>
  <message name="getAuthoritiesResponse">
    <part element="tns:getAuthoritiesResponse" name="parameters"/>
  </message>
  <message name="getTopFolders">
    <part element="tns:getTopFolders" name="parameters"/>
  </message>
  <message name="getTopFoldersResponse">
    <part element="tns:getTopFoldersResponse" name="parameters"/>
  </message>
  <message name="getSpecimens">
    <part element="tns:getSpecimens" name="parameters"/>
  </message>
  <message name="getSpecimensResponse">
    <part element="tns:getSpecimensResponse" name="parameters"/>
  </message>
  <message name="getImageRaw">
    <part element="tns:getImageRaw" name="parameters"/>
  </message>
  <message name="getImageRawResponse">
    <part element="tns:getImageRawResponse" name="parameters"/>
  </message>
  <message name="getInstitutes">
    <part element="tns:getInstitutes" name="parameters"/>
  </message>
  <message name="getInstitutesResponse">
    <part element="tns:getInstitutesResponse" name="parameters"/>
  </message>
  <message name="updateInstitute">
    <part element="tns:updateInstitute" name="parameters"/>
  </message>
  <message name="updateInstituteResponse">
    <part element="tns:updateInstituteResponse" name="parameters"/>
  </message>
  <message name="deleteInstitute">
    <part element="tns:deleteInstitute" name="parameters"/>
  </message>
  <message name="deleteInstituteResponse">
    <part element="tns:deleteInstituteResponse" name="parameters"/>
  </message>
  <message name="insertInstitute">
    <part element="tns:insertInstitute" name="parameters"/>
  </message>
  <message name="insertInstituteResponse">
    <part element="tns:insertInstituteResponse" name="parameters"/>
  </message>
  <message name="getSpecimensByFolder">
    <part element="tns:getSpecimensByFolder" name="parameters"/>
  </message>
  <message name="getSpecimensByFolderResponse">
    <part element="tns:getSpecimensByFolderResponse" name="parameters"/>
  </message>
  <message name="getSpecimenNumberByFolder">
    <part element="tns:getSpecimenNumberByFolder" name="parameters"/>
  </message>
  <message name="getSpecimenNumberByFolderResponse">
    <part element="tns:getSpecimenNumberByFolderResponse" name="parameters"/>
  </message>
  <message name="getSpecimensByWeek">
    <part element="tns:getSpecimensByWeek" name="parameters"/>
  </message>
  <message name="getSpecimensByWeekResponse">
    <part element="tns:getSpecimensByWeekResponse" name="parameters"/>
  </message>
  <message name="getSpecimenById">
    <part element="tns:getSpecimenById" name="parameters"/>
  </message>
  <message name="getSpecimenByIdResponse">
    <part element="tns:getSpecimenByIdResponse" name="parameters"/>
  </message>
  <message name="getSpecimens2">
    <part element="tns:getSpecimens2" name="parameters"/>
  </message>
  <message name="getSpecimens2Response">
    <part element="tns:getSpecimens2Response" name="parameters"/>
  </message>
  <message name="validateLogin">
    <part element="tns:validateLogin" name="parameters"/>
  </message>
  <message name="validateLoginResponse">
    <part element="tns:validateLoginResponse" name="parameters"/>
  </message>
  <message name="updateUser">
    <part element="tns:updateUser" name="parameters"/>
  </message>
  <message name="updateUserResponse">
    <part element="tns:updateUserResponse" name="parameters"/>
  </message>
  <message name="insertCollector">
    <part element="tns:insertCollector" name="parameters"/>
  </message>
  <message name="insertCollectorResponse">
    <part element="tns:insertCollectorResponse" name="parameters"/>
  </message>
  <message name="insertSpecimen">
    <part element="tns:insertSpecimen" name="parameters"/>
  </message>
  <message name="insertSpecimenResponse">
    <part element="tns:insertSpecimenResponse" name="parameters"/>
  </message>
  <message name="updateSpecimen">
    <part element="tns:updateSpecimen" name="parameters"/>
  </message>
  <message name="updateSpecimenResponse">
    <part element="tns:updateSpecimenResponse" name="parameters"/>
  </message>
  <message name="getCollectorsBySpecimen">
    <part element="tns:getCollectorsBySpecimen" name="parameters"/>
  </message>
  <message name="getCollectorsBySpecimenResponse">
    <part element="tns:getCollectorsBySpecimenResponse" name="parameters"/>
  </message>
  <message name="getScms">
    <part element="tns:getScms" name="parameters"/>
  </message>
  <message name="getScmsResponse">
    <part element="tns:getScmsResponse" name="parameters"/>
  </message>
  <message name="getCollectors">
    <part element="tns:getCollectors" name="parameters"/>
  </message>
  <message name="getCollectorsResponse">
    <part element="tns:getCollectorsResponse" name="parameters"/>
  </message>
  <message name="getCollectorsByPage">
    <part element="tns:getCollectorsByPage" name="parameters"/>
  </message>
  <message name="getCollectorsByPageResponse">
    <part element="tns:getCollectorsByPageResponse" name="parameters"/>
  </message>
  <message name="getCollectorsByName">
    <part element="tns:getCollectorsByName" name="parameters"/>
  </message>
  <message name="getCollectorsByNameResponse">
    <part element="tns:getCollectorsByNameResponse" name="parameters"/>
  </message>
  <message name="updateCollector">
    <part element="tns:updateCollector" name="parameters"/>
  </message>
  <message name="updateCollectorResponse">
    <part element="tns:updateCollectorResponse" name="parameters"/>
  </message>
  <message name="getUserByName">
    <part element="tns:getUserByName" name="parameters"/>
  </message>
  <message name="getUserByNameResponse">
    <part element="tns:getUserByNameResponse" name="parameters"/>
  </message>
  <message name="insertUser">
    <part element="tns:insertUser" name="parameters"/>
  </message>
  <message name="insertUserResponse">
    <part element="tns:insertUserResponse" name="parameters"/>
  </message>
  <message name="insertCollector2">
    <part element="tns:insertCollector2" name="parameters"/>
  </message>
  <message name="insertCollector2Response">
    <part element="tns:insertCollector2Response" name="parameters"/>
  </message>
  <message name="insertSystem">
    <part element="tns:insertSystem" name="parameters"/>
  </message>
  <message name="insertSystemResponse">
    <part element="tns:insertSystemResponse" name="parameters"/>
  </message>
  <message name="updateSystem">
    <part element="tns:updateSystem" name="parameters"/>
  </message>
  <message name="updateSystemResponse">
    <part element="tns:updateSystemResponse" name="parameters"/>
  </message>
  <message name="deleteSystem">
    <part element="tns:deleteSystem" name="parameters"/>
  </message>
  <message name="deleteSystemResponse">
    <part element="tns:deleteSystemResponse" name="parameters"/>
  </message>
  <message name="getSystems">
    <part element="tns:getSystems" name="parameters"/>
  </message>
  <message name="getSystemsResponse">
    <part element="tns:getSystemsResponse" name="parameters"/>
  </message>
  <message name="insertSystemSetting">
    <part element="tns:insertSystemSetting" name="parameters"/>
  </message>
  <message name="insertSystemSettingResponse">
    <part element="tns:insertSystemSettingResponse" name="parameters"/>
  </message>
  <message name="updateSystemSetting">
    <part element="tns:updateSystemSetting" name="parameters"/>
  </message>
  <message name="updateSystemSettingResponse">
    <part element="tns:updateSystemSettingResponse" name="parameters"/>
  </message>
  <message name="deleteSystemSetting">
    <part element="tns:deleteSystemSetting" name="parameters"/>
  </message>
  <message name="deleteSystemSettingResponse">
    <part element="tns:deleteSystemSettingResponse" name="parameters"/>
  </message>
  <message name="insertFolder">
    <part element="tns:insertFolder" name="parameters"/>
  </message>
  <message name="insertFolderResponse">
    <part element="tns:insertFolderResponse" name="parameters"/>
  </message>
  <portType name="DataUtilsDelegate">
    <operation name="getParent">
      <input message="tns:getParent"/>
      <output message="tns:getParentResponse"/>
    </operation>
    <operation name="getCollections">
      <input message="tns:getCollections"/>
      <output message="tns:getCollectionsResponse"/>
    </operation>
    <operation name="getUsers">
      <input message="tns:getUsers"/>
      <output message="tns:getUsersResponse"/>
    </operation>
    <operation name="setPort">
      <input message="tns:setPort"/>
      <output message="tns:setPortResponse"/>
    </operation>
    <operation name="getSettings">
      <input message="tns:getSettings"/>
      <output message="tns:getSettingsResponse"/>
    </operation>
    <operation name="getFolders">
      <input message="tns:getFolders"/>
      <output message="tns:getFoldersResponse"/>
    </operation>
    <operation name="getAuthorities">
      <input message="tns:getAuthorities"/>
      <output message="tns:getAuthoritiesResponse"/>
    </operation>
    <operation name="getTopFolders">
      <input message="tns:getTopFolders"/>
      <output message="tns:getTopFoldersResponse"/>
    </operation>
    <operation name="getSpecimens">
      <input message="tns:getSpecimens"/>
      <output message="tns:getSpecimensResponse"/>
    </operation>
    <operation name="getImageRaw">
      <input message="tns:getImageRaw"/>
      <output message="tns:getImageRawResponse"/>
    </operation>
    <operation name="getInstitutes">
      <input message="tns:getInstitutes"/>
      <output message="tns:getInstitutesResponse"/>
    </operation>
    <operation name="updateInstitute">
      <input message="tns:updateInstitute"/>
      <output message="tns:updateInstituteResponse"/>
    </operation>
    <operation name="deleteInstitute">
      <input message="tns:deleteInstitute"/>
      <output message="tns:deleteInstituteResponse"/>
    </operation>
    <operation name="insertInstitute">
      <input message="tns:insertInstitute"/>
      <output message="tns:insertInstituteResponse"/>
    </operation>
    <operation name="getSpecimensByFolder">
      <input message="tns:getSpecimensByFolder"/>
      <output message="tns:getSpecimensByFolderResponse"/>
    </operation>
    <operation name="getSpecimenNumberByFolder">
      <input message="tns:getSpecimenNumberByFolder"/>
      <output message="tns:getSpecimenNumberByFolderResponse"/>
    </operation>
    <operation name="getSpecimensByWeek">
      <input message="tns:getSpecimensByWeek"/>
      <output message="tns:getSpecimensByWeekResponse"/>
    </operation>
    <operation name="getSpecimenById">
      <input message="tns:getSpecimenById"/>
      <output message="tns:getSpecimenByIdResponse"/>
    </operation>
    <operation name="getSpecimens2">
      <input message="tns:getSpecimens2"/>
      <output message="tns:getSpecimens2Response"/>
    </operation>
    <operation name="validateLogin">
      <input message="tns:validateLogin"/>
      <output message="tns:validateLoginResponse"/>
    </operation>
    <operation name="updateUser">
      <input message="tns:updateUser"/>
      <output message="tns:updateUserResponse"/>
    </operation>
    <operation name="insertCollector">
      <input message="tns:insertCollector"/>
      <output message="tns:insertCollectorResponse"/>
    </operation>
    <operation name="insertSpecimen">
      <input message="tns:insertSpecimen"/>
      <output message="tns:insertSpecimenResponse"/>
    </operation>
    <operation name="updateSpecimen">
      <input message="tns:updateSpecimen"/>
      <output message="tns:updateSpecimenResponse"/>
    </operation>
    <operation name="getCollectorsBySpecimen">
      <input message="tns:getCollectorsBySpecimen"/>
      <output message="tns:getCollectorsBySpecimenResponse"/>
    </operation>
    <operation name="getScms">
      <input message="tns:getScms"/>
      <output message="tns:getScmsResponse"/>
    </operation>
    <operation name="getCollectors">
      <input message="tns:getCollectors"/>
      <output message="tns:getCollectorsResponse"/>
    </operation>
    <operation name="getCollectorsByPage">
      <input message="tns:getCollectorsByPage"/>
      <output message="tns:getCollectorsByPageResponse"/>
    </operation>
    <operation name="getCollectorsByName">
      <input message="tns:getCollectorsByName"/>
      <output message="tns:getCollectorsByNameResponse"/>
    </operation>
    <operation name="updateCollector">
      <input message="tns:updateCollector"/>
      <output message="tns:updateCollectorResponse"/>
    </operation>
    <operation name="getUserByName">
      <input message="tns:getUserByName"/>
      <output message="tns:getUserByNameResponse"/>
    </operation>
    <operation name="insertUser">
      <input message="tns:insertUser"/>
      <output message="tns:insertUserResponse"/>
    </operation>
    <operation name="insertCollector2">
      <input message="tns:insertCollector2"/>
      <output message="tns:insertCollector2Response"/>
    </operation>
    <operation name="insertSystem">
      <input message="tns:insertSystem"/>
      <output message="tns:insertSystemResponse"/>
    </operation>
    <operation name="updateSystem">
      <input message="tns:updateSystem"/>
      <output message="tns:updateSystemResponse"/>
    </operation>
    <operation name="deleteSystem">
      <input message="tns:deleteSystem"/>
      <output message="tns:deleteSystemResponse"/>
    </operation>
    <operation name="getSystems">
      <input message="tns:getSystems"/>
      <output message="tns:getSystemsResponse"/>
    </operation>
    <operation name="insertSystemSetting">
      <input message="tns:insertSystemSetting"/>
      <output message="tns:insertSystemSettingResponse"/>
    </operation>
    <operation name="updateSystemSetting">
      <input message="tns:updateSystemSetting"/>
      <output message="tns:updateSystemSettingResponse"/>
    </operation>
    <operation name="deleteSystemSetting">
      <input message="tns:deleteSystemSetting"/>
      <output message="tns:deleteSystemSettingResponse"/>
    </operation>
    <operation name="insertFolder">
      <input message="tns:insertFolder"/>
      <output message="tns:insertFolderResponse"/>
    </operation>
  </portType>
  <binding name="DataUtilsPortBinding" type="tns:DataUtilsDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getParent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCollections">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setPort">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSettings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getFolders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAuthorities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTopFolders">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecimens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getImageRaw">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInstitutes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateInstitute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteInstitute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertInstitute">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecimensByFolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecimenNumberByFolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecimensByWeek">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecimenById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSpecimens2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validateLogin">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertCollector">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertSpecimen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateSpecimen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCollectorsBySpecimen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getScms">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCollectors">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCollectorsByPage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCollectorsByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCollector">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUserByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertCollector2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSystems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertSystemSetting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateSystemSetting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteSystemSetting">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertFolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DataUtilsService">
    <port binding="tns:DataUtilsPortBinding" name="DataUtilsPort">
      <soap:address location="http://localhost:8080/HerbService/DataUtilsPort"/>
    </port>
  </service>
</definitions>
