software/HerbService/WebRoot/WEB-INF/wsdl/LabViewUtilsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main.herbarium.ou.edu/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LabViewUtilsService" targetNamespace="http://main.herbarium.ou.edu/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://main.herbarium.ou.edu/" schemaLocation="LabViewUtilsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="viTest1">
    <part element="tns:viTest1" name="parameters"/>
  </message>
  <message name="viTest1Response">
    <part element="tns:viTest1Response" name="parameters"/>
  </message>
  <message name="viTest2">
    <part element="tns:viTest2" name="parameters"/>
  </message>
  <message name="viTest2Response">
    <part element="tns:viTest2Response" name="parameters"/>
  </message>
  <message name="viTest3">
    <part element="tns:viTest3" name="parameters"/>
  </message>
  <message name="viTest3Response">
    <part element="tns:viTest3Response" name="parameters"/>
  </message>
  <portType name="LabViewUtilsDelegate">
    <operation name="viTest1">
      <input message="tns:viTest1"/>
      <output message="tns:viTest1Response"/>
    </operation>
    <operation name="viTest2">
      <input message="tns:viTest2"/>
      <output message="tns:viTest2Response"/>
    </operation>
    <operation name="viTest3">
      <input message="tns:viTest3"/>
      <output message="tns:viTest3Response"/>
    </operation>
  </portType>
  <binding name="LabViewUtilsPortBinding" type="tns:LabViewUtilsDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="viTest1">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viTest2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viTest3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LabViewUtilsService">
    <port binding="tns:LabViewUtilsPortBinding" name="LabViewUtilsPort">
      <soap:address location="http://localhost:8080/HerbService/LabViewUtilsPort"/>
    </port>
  </service>
</definitions>
